/* placeholder mixin */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

input,
select,
textarea,
button {
  font: 14px/1.4 Arial, Helvetica, sans-serif; }
  input:hover, input:focus, input:active,
  select:hover,
  select:focus,
  select:active,
  textarea:hover,
  textarea:focus,
  textarea:active,
  button:hover,
  button:focus,
  button:active {
    outline: 0; }

body {
  font: 14px/1.4 Arial, Helvetica, sans-serif;
  color: #333;
  background-color: #fff; }

hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd; }
  hr:before {
    display: table;
    content: ""; }
  hr:after {
    display: table;
    clear: both;
    content: ""; }

.browserupgrade {
  background: #f00;
  color: #fff;
  margin: 0;
  text-align: center;
  padding: 0.8em;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999; }
  .browserupgrade a {
    font-weight: bold;
    color: #ff0; }

.cf:before {
  display: table;
  content: ""; }

.cf:after {
  display: table;
  clear: both;
  content: ""; }

iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

figure {
  margin: 0;
  padding: 0; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0 0 0.7em;
  line-height: 1.2; }

h1, .h1 {
  font-size: 30px; }

h2, .h2 {
  font-size: 21px; }

h3, .h3 {
  font-size: 16px; }

h4, .h4 {
  font-size: 14px; }

h5, .h5 {
  font-size: 12px; }

h6, .h6 {
  font-size: 11px; }

a {
  color: #4078c0;
  text-decoration: none; }
  a:hover, a:focus, a:active {
    outline: 0; }
  a:focus {
    text-decoration: none; }

a[href^=tel] {
  cursor: default; }

p {
  margin: 0 0 0.7em; }

small {
  font-size: 90%; }

blockquote {
  margin: 0; }

ul,
ol {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0; }

ol ol,
ul ol {
  list-style-type: lower-roman; }

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
  list-style-type: lower-alpha; }

dd {
  margin-left: 0; }

tt,
code {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px; }

pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 12px Arial, Helvetica, sans-serif; }

fieldset {
  padding: 0;
  margin: 0;
  border: 0; }

label {
  font-size: 13px;
  font-weight: bold;
  outline: none; }
  label:focus {
    outline: none; }

input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="tel"], input[type="url"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.form-control {
  height: 38px;
  padding: 7px 8px;
  font-size: 13px;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right center;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  display: block;
  width: 100%;
  -webkit-transition: all ease .1s;
  -o-transition: all ease .1s;
  transition: all ease .1s; }
  .form-control.focus, .form-control:focus {
    border-color: #4078c0;
    -webkit-box-shadow: 0 0 5px rgba(81, 167, 232, 0.5);
    box-shadow: 0 0 5px rgba(81, 167, 232, 0.5); }

textarea {
  resize: none;
  height: auto; }

.form-group {
  margin-bottom: 15px; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.35em; }

input.input-contrast,
.input-contrast {
  background-color: #fafafa; }
  input.input-contrast:focus,
  .input-contrast:focus {
    background-color: #fff; }

::-webkit-input-placeholder {
  color: #aaa; }

:-ms-input-placeholder {
  color: #aaa; }

::-ms-input-placeholder {
  color: #aaa; }

::placeholder {
  color: #aaa; }

button:focus, button.focus, input[type="submit"]:focus, input[type="submit"].focus {
  outline: 0; }

.form-box input:-moz-placeholder {
  opacity: 1;
  /* Firefox 18- */
  color: #333 !important; }

.form-box input::-moz-placeholder {
  opacity: 1;
  /* Firefox 19+ */
  color: #333 !important; }

.form-box ::-webkit-input-placeholder {
  color: #333 !important;
  opacity: 1 !important;
  /* for chrome */ }

.form-box textarea:-moz-placeholder {
  opacity: 1;
  /* Firefox 18- */
  color: #333 !important; }

.form-box textarea::-moz-placeholder {
  opacity: 1;
  /* Firefox 19+ */
  color: #333 !important; }

.form-box ::-webkit-input-placeholder {
  opacity: 1 !important;
  /* for chrome */
  color: #333 !important; }

table {
  border-collapse: collapse;
  margin: 0.7em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 2px solid #ddd;
  font-weight: 600;
  padding: 0.7em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.7em 0; }

tr,
td,
th {
  vertical-align: middle; }

.btn {
  position: relative;
  display: inline-block;
  padding: 9px 12px;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #eee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#eee));
  background-image: -webkit-linear-gradient(#fcfcfc, #eee);
  background-image: -o-linear-gradient(#fcfcfc, #eee);
  background-image: linear-gradient(#fcfcfc, #eee);
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none; }
  .btn:focus {
    text-decoration: none;
    border: 0;
    outline: none; }
  .btn:focus:hover {
    border-color: #51a7e8; }
  .btn:hover, .btn:active {
    text-decoration: none;
    background-color: #ddd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
    background-image: -webkit-linear-gradient(#eee, #ddd);
    background-image: -o-linear-gradient(#eee, #ddd);
    background-image: linear-gradient(#eee, #ddd);
    border-color: #ccc; }
  .btn:active {
    background-color: #dcdcdc;
    background-image: none;
    border-color: #b5b5b5;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15); }
  .btn:disabled, .btn:disabled:hover, .btn.disabled, .btn.disabled:hover {
    color: rgba(102, 102, 102, 0.5);
    cursor: default;
    background-color: rgba(229, 229, 229, 0.5);
    background-image: none;
    border-color: rgba(197, 197, 197, 0.5);
    -webkit-box-shadow: none;
    box-shadow: none; }

.btn-primary {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
  background: #4078c0; }
  .btn-primary:hover {
    color: #fff;
    background: #396cad; }
  .btn-primary:active {
    background: #33609a; }
  .btn-primary:disabled, .btn-primary:disabled:hover, .btn-primary.disabled, .btn-primary.disabled:hover {
    color: #fefefe;
    background: #add39f; }

.btn-outline {
  color: #4078c0;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e5e5e5; }
  .btn-outline:focus {
    border: 1px solid #e5e5e5; }
  .btn-outline:hover, .btn-outline:active {
    color: #fff;
    background-color: #4078c0;
    background-image: none;
    border-color: #4078c0; }
  .btn-outline:disabled, .btn-outline:disabled:hover, .btn-outline.disabled, .btn-outline.disabled:hover {
    color: #767676;
    background-color: #fff;
    background-image: none;
    border-color: #e5e5e5; }

.btn-sm {
  padding: 2px 10px; }

.btn-block {
  display: block;
  width: 100%;
  text-align: center; }

.custm-hd-wdt {
  max-width: 1380px;
  left: 0;
  right: 0;
  margin: 0 auto;
  float: none; }

.nav-sec {
  -webkit-transition: 0.1s ease-out all;
  -moz-transition: 0.1s ease-out all;
  -ms-transition: 0.1s ease-out all;
  -o-transition: 0.1s ease-out all;
  transition: 0.1s ease-out all;
  padding: 45px 0px 17px; }

.logo-scrol {
  display: none; }

.cont-lng {
  width: 45%;
  float: none;
  margin: 0 auto; }

.pad_out {
  padding: 0; }

.logo-out {
  padding: 0; }

.logo img {
  width: 250px; }

.margin_auto {
  float: none;
  margin: 0 auto; }

ul li {
  list-style: none; }

header.bg.bg-pricing {
  background: url("../img/plan-bg.jpg");
  min-height: 743px; }

header.bg {
  background: url(../img/slide-background.jpg);
  background-size: cover !important;
  min-height: 943px; }
  header.bg .menu-wrp {
    float: right;
    margin-top: 22px; }
  header.bg .main-nav ul {
    float: left; }
  header.bg .main-nav ul.req-ul {
    margin-left: 36px;
    float: left; }
    header.bg .main-nav ul.req-ul li {
      margin-left: 0px !important; }

.bg-bk {
  background: url(../img/bg-man.png) no-repeat;
  min-height: 630px;
  top: 50px; }

.main-nav ul li.activee:before {
  content: "";
  -webkit-transition: 0.2s ease-out all;
  -moz-transition: 0.2s ease-out all;
  -ms-transition: 0.2s ease-out all;
  -o-transition: 0.2s ease-out all;
  transition: 0.2s ease-out all;
  position: absolute;
  content: "";
  background: #18d26e;
  width: 100%;
  height: 3px;
  display: inline-block;
  bottom: -15px; }

.custm-hd-wdt-bg {
  max-width: 1380px; }

.bg-content .sldr-cont {
  margin-top: 200px; }
  .bg-content .sldr-cont h3 {
    color: #fff;
    font: 600 35px/27px "Poppins", sans-serif;
    text-transform: uppercase;
    margin-bottom: 18px; }
    .bg-content .sldr-cont h3 span {
      color: #a1b8ca;
      opacity: 0.7; }
  .bg-content .sldr-cont h5 {
    color: #fff;
    font: 300 17px/27px "Poppins", sans-serif; }
  .bg-content .sldr-cont .get_butn {
    width: 233px;
    background: #05bb6f;
    margin-top: 7px;
    height: 52px;
    border-radius: 6px;
    font: 400 15px/48px "Poppins", sans-serif;
    letter-spacing: 5px;
    color: #fff;
    text-align: center;
    padding: 2px 2px 0px 9px;
    margin-top: 25px;
    box-shadow: 0px 4px 0px rgba(58, 53, 53, 0.25);
    -webkit-box-shadow: 0px 4px 0px rgba(58, 53, 53, 0.25);
    -moz-box-shadow: 0px 4px 0px rgba(58, 53, 53, 0.25);
    -ms-box-shadow: 0px 4px 0px rgba(58, 53, 53, 0.25);
    cursor: pointer;
    position: relative;
    display: inline-block;
    z-index: 0;
    overflow: hidden; }
    .bg-content .sldr-cont .get_butn i {
      padding-left: 9px; }
    .bg-content .sldr-cont .get_butn:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 130%;
      height: 100%;
      background: #fff;
      z-index: -1;
      -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: translateX(-100%) skewX(-45deg);
      -ms-transform: translateX(-100%) skewX(-45deg);
      transform: translateX(-100%) skewX(-45deg);
      -webkit-transition: -webkit-transform .3s;
      transition: -webkit-transform .3s;
      -o-transition: transform .3s;
      transition: transform .3s;
      transition: transform .3s, -webkit-transform .3s; }
  .bg-content .sldr-cont .get_butn:hover {
    color: #19d16e !important; }
    .bg-content .sldr-cont .get_butn:hover:before {
      -webkit-transform: translateX(0) skewX(-45deg);
      -ms-transform: translateX(0) skewX(-45deg);
      transform: translateX(0) skewX(-45deg); }

.smp_cont {
  width: 100%;
  position: absolute;
  top: 696px;
  float: left; }
  .smp_cont .smp_bg {
    background: url(../img/bg-im2.jpg) no-repeat center;
    background-size: cover !important;
    min-height: 240px;
    padding: 0;
    cursor: pointer;
    -webkit-transition: 0.3s ease-out all;
    -moz-transition: 0.3s ease-out all;
    -ms-transition: 0.3s ease-out all;
    -o-transition: 0.3s ease-out all;
    transition: 0.3s ease-out all; }
    .smp_cont .smp_bg:hover {
      box-shadow: inset 0 -180px 280px -1px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: inset 0 -180px 280px -1px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: inset 0 -180px 280px -1px rgba(0, 0, 0, 0.5);
      -ms-box-shadow: inset 0 -180px 280px -1px rgba(0, 0, 0, 0.5); }
      .smp_cont .smp_bg:hover .smp_cont_txt {
        -webkit-transition: 0.3s ease-out all;
        -moz-transition: 0.3s ease-out all;
        -ms-transition: 0.3s ease-out all;
        -o-transition: 0.3s ease-out all;
        transition: 0.3s ease-out all;
        background: transparent;
        height: 60%; }
        .smp_cont .smp_bg:hover .smp_cont_txt h3 {
          -webkit-transition: 0.3s ease-out all;
          -moz-transition: 0.3s ease-out all;
          -ms-transition: 0.3s ease-out all;
          -o-transition: 0.3s ease-out all;
          transition: 0.3s ease-out all; }
          .smp_cont .smp_bg:hover .smp_cont_txt h3:before {
            -webkit-transition: 0.3s ease-out all;
            -moz-transition: 0.3s ease-out all;
            -ms-transition: 0.3s ease-out all;
            -o-transition: 0.3s ease-out all;
            transition: 0.3s ease-out all;
            bottom: 96px; }
    .smp_cont .smp_bg .smp_cont_txt {
      background: rgba(3, 126, 75, 0.811765);
      color: #fff;
      text-align: left;
      position: absolute;
      width: 100%;
      bottom: 0;
      height: 64px;
      padding-left: 0px;
      -webkit-transition: 0.3s ease-out all;
      -moz-transition: 0.3s ease-out all;
      -ms-transition: 0.3s ease-out all;
      -o-transition: 0.3s ease-out all;
      transition: 0.3s ease-out all; }
      .smp_cont .smp_bg .smp_cont_txt h3 {
        font: 600 16px/58px "Poppins", sans-serif;
        letter-spacing: 0.3px;
        -webkit-transition: 0.3s ease-out all;
        -moz-transition: 0.3s ease-out all;
        -ms-transition: 0.3s ease-out all;
        -o-transition: 0.3s ease-out all;
        transition: 0.3s ease-out all;
        text-transform: uppercase;
        text-align: center; }
        .smp_cont .smp_bg .smp_cont_txt h3:before {
          content: "";
          height: 3px;
          width: 18px;
          display: inline-block;
          background: #5dc299;
          position: absolute;
          bottom: 14px;
          -webkit-transition: 0.3s ease-out all;
          -moz-transition: 0.3s ease-out all;
          -ms-transition: 0.3s ease-out all;
          -o-transition: 0.3s ease-out all;
          transition: 0.3s ease-out all; }
  .smp_cont .smp_vid {
    padding: 0;
    overflow: hidden;
    cursor: pointer; }
    .smp_cont .smp_vid .smp_cont_txt {
      background: rgba(25, 209, 110, 0.6);
      color: #fff;
      text-align: left;
      position: absolute;
      width: 100%;
      bottom: 0;
      z-index: 1;
      height: 64px;
      padding-left: 63px; }
      .smp_cont .smp_vid .smp_cont_txt h3 {
        font: 600 18px/64px "Poppins", sans-serif;
        letter-spacing: 0.3px;
        text-align: center; }
        .smp_cont .smp_vid .smp_cont_txt h3:before {
          content: "";
          height: 18px;
          width: 5px;
          display: inline-block;
          background: #edf2f4;
          position: absolute;
          left: 10.5%;
          top: 22px; }
  .smp_cont .play {
    position: absolute;
    left: 50%;
    top: 40%;
    margin-left: 40px;
    background: #fff;
    border-radius: 50%;
    border: none;
    width: 64px;
    height: 64px; }
    .smp_cont .play i {
      color: #19d16e;
      font-size: 23px; }
  .smp_cont video {
    object-fit: cover;
    -moz-object-fit: cover;
    -o-object-fit: cover;
    -ms-object-fit: cover;
    width: 100%;
    vertical-align: middle; }
  .smp_cont .buttons {
    margin-top: 5px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 88px; }
    .smp_cont .buttons button {
      width: 50px;
      height: 50px;
      background: #fff;
      border: none;
      border-radius: 50%;
      display: inline-block; }
      .smp_cont .buttons button i {
        color: #19bf66;
        font-size: 18px; }
    .smp_cont .buttons .second {
      display: none; }
  .smp_cont .bg1 {
    background: url(../img/bg-im3.jpg) no-repeat center; }
  .smp_cont .bg2 {
    background: url(../img/bg-im4.jpg) no-repeat center; }
  .smp_cont .bg3 {
    background: url(../img/bg-im1.jpg) no-repeat center; }

.about-sectn {
  background: -webkit-radial-gradient(circle, #fafdff, #e1f5fd, #e1f5fd);
  background: -o-radial-gradient(circle, #fafdff, #e1f5fd, #e1f5fd);
  background: radial-gradient(circle, #fafdff, #e1f5fd, #e1f5fd);
  float: left;
  width: 100%;
  margin-top: -71px;
  padding-bottom: 110px; }
  .about-sectn .custm-hd-wdt-bg {
    max-width: 1380px;
    float: none;
    margin: 0 auto; }
  .about-sectn .abt-sec-pr {
    margin-top: 180px; }
  .about-sectn h3 {
    font: 700 30px/28px "Poppins", sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0;
    margin-bottom: 10px;
    color: #242424; }
  .about-sectn h4 {
    font: 400 18px/27px "Roboto", sans-serif;
    text-align: center;
    letter-spacing: 0px;
    color: #3b3b3b;
    padding: 2px 0 0 0; }
  .about-sectn .img-cn img {
    width: 75%; }
  .about-sectn .abt-otr {
    margin-top: 105px; }
    .about-sectn .abt-otr .otr-sec-abt .tpr-abt {
      margin-top: 165px; }
    .about-sectn .abt-otr .otr-sec-abt .lef-abt-qn .abt-cont-qn {
      border-right: 2px solid #d3d5d6;
      padding-right: 20px;
      padding-left: 0px; }
      .about-sectn .abt-otr .otr-sec-abt .lef-abt-qn .abt-cont-qn h3 {
        font: 600 22px/27px "Poppins", sans-serif;
        color: #18d26e;
        text-align: right;
        letter-spacing: 1px; }
      .about-sectn .abt-otr .otr-sec-abt .lef-abt-qn .abt-cont-qn h4 {
        font: 500 16px/23px "Sintony", sans-serif;
        text-align: right;
        color: #020202;
        letter-spacing: -0.5px; }
    .about-sectn .abt-otr .otr-sec-abt .lef-abt-qn .line-sec-abt {
      border-bottom: 2px solid #d3d5d6;
      margin-top: 58px;
      margin-left: 0px;
      width: 24%; }
      .about-sectn .abt-otr .otr-sec-abt .lef-abt-qn .line-sec-abt:before {
        content: "";
        position: absolute;
        right: -44px;
        top: -23px;
        height: 41px;
        width: 41px;
        border-radius: 50%;
        z-index: 10;
        border: 1px solid #fff; }
      .about-sectn .abt-otr .otr-sec-abt .lef-abt-qn .line-sec-abt:after {
        content: "01";
        height: 50px;
        width: 50px;
        display: inline-block;
        background: #27c3df;
        position: absolute;
        right: -49px;
        top: -27px;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        font: 600 17px/50px "Sintony", sans-serif; }
    .about-sectn .abt-otr .otr-sec-abt .lef-abt-qn .line-sec-abt-tp {
      border-bottom: 2px solid #d3d5d6;
      margin-top: 58px;
      margin-left: 4px;
      width: 24%; }
      .about-sectn .abt-otr .otr-sec-abt .lef-abt-qn .line-sec-abt-tp:before {
        content: "";
        position: absolute;
        right: -18.6px;
        top: -127.5px;
        height: 41px;
        width: 41px;
        border-radius: 50%;
        z-index: 10;
        border: 1px solid #fff; }
      .about-sectn .abt-otr .otr-sec-abt .lef-abt-qn .line-sec-abt-tp:after {
        content: "02";
        height: 50px;
        width: 50px;
        display: inline-block;
        background: #27c3df;
        position: absolute;
        right: -23px;
        top: -132px;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        font: 600 17px/50px "Sintony", sans-serif; }
      .about-sectn .abt-otr .otr-sec-abt .lef-abt-qn .line-sec-abt-tp span:before {
        content: "";
        z-index: 10;
        height: 84px;
        width: 2px;
        display: inline-block;
        background: #d3d5d6;
        position: absolute;
        right: 0;
        top: -82px; }
    .about-sectn .abt-otr .otr-sec-abt .rt-abt-qn .abt-cont-qn-rt {
      border-left: 2px solid #d3d5d6;
      padding-left: 20px;
      padding-right: 0px; }
      .about-sectn .abt-otr .otr-sec-abt .rt-abt-qn .abt-cont-qn-rt h3 {
        font: 600 22px/27px "Poppins", sans-serif;
        color: #18d26e;
        text-align: left;
        letter-spacing: 1px; }
      .about-sectn .abt-otr .otr-sec-abt .rt-abt-qn .abt-cont-qn-rt h4 {
        font: 500 16px/23px "Sintony", sans-serif;
        text-align: left;
        color: #020202;
        letter-spacing: -0.5px; }
    .about-sectn .abt-otr .otr-sec-abt .rt-abt-qn .line-sec-abt-rt {
      border-bottom: 2px solid #d3d5d6;
      margin-top: 58px;
      margin-right: 4px;
      width: 24%; }
      .about-sectn .abt-otr .otr-sec-abt .rt-abt-qn .line-sec-abt-rt:before {
        content: "";
        position: absolute;
        left: -44px;
        top: -23px;
        height: 41px;
        width: 41px;
        border-radius: 50%;
        z-index: 10;
        border: 1px solid #fff; }
      .about-sectn .abt-otr .otr-sec-abt .rt-abt-qn .line-sec-abt-rt:after {
        content: "03";
        height: 50px;
        width: 50px;
        display: inline-block;
        background: #27c3df;
        position: absolute;
        left: -49px;
        top: -27px;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        font: 600 17px/50px "Sintony", sans-serif; }
    .about-sectn .abt-otr .otr-sec-abt .rt-abt-qn .line-sec-abt-tp {
      border-bottom: 2px solid #d3d5d6;
      margin-top: 58px;
      margin-right: 4px;
      width: 24%; }
      .about-sectn .abt-otr .otr-sec-abt .rt-abt-qn .line-sec-abt-tp:before {
        content: "";
        position: absolute;
        left: -18.6px;
        top: -127.5px;
        height: 41px;
        width: 41px;
        border-radius: 50%;
        z-index: 10;
        border: 1px solid #fff; }
      .about-sectn .abt-otr .otr-sec-abt .rt-abt-qn .line-sec-abt-tp:after {
        content: "04";
        height: 50px;
        width: 50px;
        display: inline-block;
        background: #27c3df;
        position: absolute;
        left: -23px;
        top: -132px;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        font: 600 17px/50px "Sintony", sans-serif; }
      .about-sectn .abt-otr .otr-sec-abt .rt-abt-qn .line-sec-abt-tp span:before {
        content: "";
        z-index: 10;
        height: 84px;
        width: 2px;
        display: inline-block;
        background: #d3d5d6;
        position: absolute;
        left: 0;
        top: -82px; }

.busins_secn {
  background-image: -webkit-linear-gradient(45deg, #1eaadb 16%, #1eaadb 16%, #1f70db 98%);
  background-image: -o-linear-gradient(45deg, #1eaadb 16%, #1eaadb 16%, #1f70db 98%);
  background-image: -webkit-linear-gradient(45deg, #1ed472 30%, #22ce88 46%, #24c999 98%);
  background-image: -o-linear-gradient(45deg, #1ed472 30%, #22ce88 46%, #24c999 98%);
  background-image: linear-gradient(45deg, #1ed472 30%, #22ce88 46%, #24c999 98%);
  float: left;
  width: 100%;
  min-height: 500px; }
  .busins_secn .custm-hd-wdt-pr {
    max-width: 1300px;
    float: none;
    margin: 0 auto; }
  .busins_secn .bg-busin .cont-bus-sec {
    margin-top: 155px;
    padding-right: 130px;
    color: #fff;
    padding-left: 0px; }
    .busins_secn .bg-busin .cont-bus-sec h3 {
      font: 600 31px/36px "Poppins", sans-serif; }
    .busins_secn .bg-busin .cont-bus-sec h4 {
      font: 400 16px/27px "Roboto", sans-serif; }
    .busins_secn .bg-busin .cont-bus-sec h5 {
      font: 500 21px/27px "Roboto", sans-serif; }
  .busins_secn .bg-busin .bg-busn {
    background: url(../img/bus-bg.jpg) no-repeat;
    min-height: 700px;
    background-size: cover !important;
    opacity: 0.9; }
    .busins_secn .bg-busin .bg-busn .img-cont {
      bottom: 95px;
      position: absolute;
      left: 20%; }
      .busins_secn .bg-busin .bg-busn .img-cont h3 {
        font: 400 23px/27px "Roboto", sans-serif;
        background: #fff;
        padding: 10px 11px 10px;
        color: #18d26e;
        text-transform: uppercase;
        margin-bottom: 6px;
        width: auto;
        float: left; }
  .busins_secn .get_butn {
    width: 233px;
    background: #fff;
    margin-top: 7px;
    height: 52px;
    border-radius: 6px;
    font: 400 15px/48px "Poppins", sans-serif;
    letter-spacing: 5px;
    color: #19d16e;
    text-align: center;
    padding: 1px 2px 0px 9px;
    margin-top: 25px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    z-index: 0;
    border-radius: 6px;
    font: 400 15px/48px Poppins, sans-serif;
    padding: 1px 2px 0px 9px;
    overflow: hidden;
    -ms-box-shadow: 0px 4px 0px rgba(58, 53, 53, 0.25);
    -moz-box-shadow: 0px 4px 0px rgba(58, 53, 53, 0.25);
    -webkit-box-shadow: 0px 4px 0px rgba(58, 53, 53, 0.25);
    box-shadow: 0px 4px 0px rgba(58, 53, 53, 0.15); }
    .busins_secn .get_butn i {
      padding-left: 9px; }
    .busins_secn .get_butn:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 130%;
      height: 100%;
      background: #089f4e;
      z-index: -1;
      -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: translateX(-100%) skewX(-45deg);
      -ms-transform: translateX(-100%) skewX(-45deg);
      transform: translateX(-100%) skewX(-45deg);
      -webkit-transition: -webkit-transform .3s;
      transition: -webkit-transform .3s;
      -o-transition: transform .3s;
      transition: transform .3s;
      transition: transform .3s, -webkit-transform .3s; }
  .busins_secn .get_butn:hover {
    color: #fff !important; }
    .busins_secn .get_butn:hover:before {
      -webkit-transform: translateX(0) skewX(-45deg);
      -ms-transform: translateX(0) skewX(-45deg);
      transform: translateX(0) skewX(-45deg); }

.pricing {
  background: #ecf3fa;
  min-height: 500px;
  float: left;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 150px; }
  .pricing .pricing-sec h3 {
    font: 700 30px/28px "Poppins", sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0;
    color: #242424;
    margin-bottom: 10px; }
  .pricing .pricing-sec h4 {
    font: 400 18px/27px "Roboto", sans-serif;
    text-align: center;
    letter-spacing: 0px;
    color: #3b3b3b; }
  .pricing .pricing-sec .pricing-cont-detl li.lef {
    width: 25%;
    background: #fff;
    padding: 0px 0px 39px;
    border: 1px solid #e6e6e6;
    margin: -2px !important;
    list-style: none;
    -webkit-box-shadow: 0px 10px -2px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 10px 0px -2px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 10px 0px -2px rgba(0, 0, 0, 0.06); }
  .pricing .pricing-sec .pricing-cont-detl {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    vertical-align: middle;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .pricing .pricing-sec .pricing-cont-detl .pricing-typ {
      background: #fcfdff;
      padding: 20px 0px 19px;
      border-bottom: 1px solid #f3f3f3; }
      .pricing .pricing-sec .pricing-cont-detl .pricing-typ h4 {
        font: 400 18px/27px "Roboto", sans-serif;
        color: #424343;
        margin-bottom: 4px; }
      .pricing .pricing-sec .pricing-cont-detl .pricing-typ h3 {
        font: 500 20px/27px "Roboto", sans-serif;
        color: #18d26e;
        margin-bottom: 3px;
        letter-spacing: 1px; }
  .pricing .pricing-sec .tpr-prc {
    margin-top: 15px; }
  .pricing .pricing-sec .pd-lef {
    padding-left: 8%; }
  .pricing .pricing-sec .cont-dl {
    text-align: left;
    font: 400 16px/29px "Roboto", sans-serif;
    margin-top: 21px;
    padding: 0; }
    .pricing .pricing-sec .cont-dl span {
      padding-left: 5px; }
    .pricing .pricing-sec .cont-dl i {
      color: #c0c0c0; }
  .pricing .pricing-sec .but-prc {
    width: 174px;
    height: 46px;
    background: #27c3df;
    border: none;
    color: #fff;
    margin-top: 34px;
    border-radius: 5px;
    font: 400 13px/27px "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    z-index: 0; }
    .pricing .pricing-sec .but-prc i {
      font-size: 12px;
      padding-left: 7px; }
    .pricing .pricing-sec .but-prc:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 130%;
      height: 100%;
      background: #19d16e;
      z-index: -1;
      -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: translateX(-100%) skewX(-45deg);
      -ms-transform: translateX(-100%) skewX(-45deg);
      transform: translateX(-100%) skewX(-45deg);
      -webkit-transition: -webkit-transform .3s;
      transition: -webkit-transform .3s;
      -o-transition: transform .3s;
      transition: transform .3s;
      transition: transform .3s, -webkit-transform .3s; }
  .pricing .pricing-sec .but-prc:hover {
    color: #fff !important; }
    .pricing .pricing-sec .but-prc:hover:before {
      -webkit-transform: translateX(0) skewX(-45deg);
      -ms-transform: translateX(0) skewX(-45deg);
      transform: translateX(0) skewX(-45deg); }
  .pricing .pricing-otr {
    margin-top: 40px; }

.data-res-sec {
  padding-top: 70px;
  padding-bottom: 67px;
  float: left;
  width: 100%; }
  .data-res-sec .resource-sec h3 {
    font: 700 30px/28px "Poppins", sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0;
    color: #242424;
    margin-bottom: 10px; }
  .data-res-sec .resource-sec h4 {
    font: 400 18px/26px "Roboto", sans-serif;
    text-align: center;
    letter-spacing: 0px;
    color: #3b3b3b; }
  .data-res-sec .otr-pot {
    margin-top: 28px; }
  .data-res-sec #filters {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    float: none;
    width: 500px;
    margin-bottom: 20px; }
  .data-res-sec #filters li {
    float: left; }
  .data-res-sec #filters li span {
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    color: #3b3b3b;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #dcd8d8;
    margin-right: 7px;
    font: 600 15px/20px "Poppins", sans-serif; }
  .data-res-sec #filters li span:hover {
    background: #04bc6f;
    color: #fff; }
  .data-res-sec #filters li span.active {
    background: #04bc6f;
    color: #fff;
    border: none; }
  .data-res-sec #portfoliolist {
    text-align: center; }
  .data-res-sec #portfoliolist .portfolio {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    width: 18%;
    margin: 0.5%;
    display: none;
    overflow: hidden; }
  .data-res-sec .portfolio-wrapper {
    overflow: hidden;
    position: relative !important;
    background: #ecf3fa;
    cursor: pointer;
    text-align: center;
    padding: 48px 5px 45px;
    min-height: 221px; }
  .data-res-sec .portfolio img {
    max-width: 100%;
    position: relative;
    top: 0;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1); }
  .data-res-sec .portfolio .label {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: -40px;
    -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1); }
  .data-res-sec .portfolio .label-bg {
    background: #e95a44;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .data-res-sec .portfolio .label-text {
    color: #fff;
    position: relative;
    z-index: 500;
    padding: 5px 8px; }
  .data-res-sec .portfolio .text-category {
    display: block;
    font-size: 9px; }
  .data-res-sec .portfolio:hover .label {
    bottom: 0; }
  .data-res-sec .portfolio:hover img {
    top: -10px; }

.req-sec {
  background-image: -webkit-linear-gradient(45deg, #1eaadb 16%, #1eaadb 16%, #1f70db 98%);
  background-image: -o-linear-gradient(45deg, #1eaadb 16%, #1eaadb 16%, #1f70db 98%);
  background-image: -webkit-linear-gradient(45deg, #1ed472 30%, #22ce88 46%, #24c999 98%);
  background-image: -o-linear-gradient(45deg, #1ed472 30%, #22ce88 46%, #24c999 98%);
  background-image: linear-gradient(45deg, #1ed472 30%, #22ce88 46%, #24c999 98%);
  float: left;
  width: 100%;
  padding: 44px 0px 40px; }
  .req-sec .reqs-sec h3 {
    font: 600 31px/27px "Poppins", sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    margin-bottom: 15px; }
  .req-sec .reqs-sec h4 {
    font: 400 16px/26px "Roboto", sans-serif;
    text-align: center;
    letter-spacing: 1px;
    color: #fff;
    display: block; }
  .req-sec .parallax-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101; }
  .req-sec .flip-banner-content {
    position: relative;
    top: 50%;
    z-index: 200; }
    .req-sec .flip-banner-content .flip-visible {
      opacity: 1;
      visibility: visible;
      -webkit-transform: translateY(-150%);
      -ms-transform: translateY(-150%);
      transform: translateY(-150%); }
    .req-sec .flip-banner-content .flip-hidden {
      opacity: 0;
      visibility: hidden;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
    .req-sec .flip-banner-content .flip-visible {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      margin: 0 auto;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition: all 0.45s cubic-bezier(0.87, -0.41, 0.19, 1.44);
      -o-transition: all 0.45s cubic-bezier(0.87, -0.41, 0.19, 1.44);
      transition: all 0.45s cubic-bezier(0.87, -0.41, 0.19, 1.44); }
    .req-sec .flip-banner-content .flip-hidden {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      margin: 0 auto;
      -webkit-transform: translateY(150%);
      -ms-transform: translateY(150%);
      transform: translateY(150%);
      -webkit-transition: all 0.45s cubic-bezier(0.87, -0.41, 0.19, 1.44);
      -o-transition: all 0.45s cubic-bezier(0.87, -0.41, 0.19, 1.44);
      transition: all 0.45s cubic-bezier(0.87, -0.41, 0.19, 1.44); }
  .req-sec .flip-banner {
    display: block;
    width: 100%;
    height: 330px;
    position: relative;
    text-align: center;
    overflow: hidden;
    z-index: 1; }
  .req-sec .flip-banner:hover .flip-banner-content .flip-hidden {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .req-sec .flip-banner:hover .flip-banner-content .flip-visible {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%); }
  .req-sec .get_butn {
    width: 233px;
    background: #fff;
    margin-top: 7px;
    height: 52px;
    border-radius: 6px;
    font: 400 15px/48px "Poppins", sans-serif;
    letter-spacing: 5px;
    color: #19d16e;
    text-align: center;
    padding: 1px 2px 0px 9px;
    margin-top: 25px;
    -webkit-box-shadow: 0px 4px 0px rgba(58, 53, 53, 0.1);
    box-shadow: 0px 4px 0px rgba(58, 53, 53, 0.1);
    cursor: pointer;
    position: relative;
    display: inline-block;
    z-index: 0;
    overflow: hidden;
    float: none;
    margin: 0 auto; }
    .req-sec .get_butn i {
      padding-left: 9px; }
  .req-sec .con-dtl-otr {
    margin-top: 25px; }
    .req-sec .con-dtl-otr .icn {
      font-size: 37px;
      color: #fff; }
    .req-sec .con-dtl-otr h4 {
      font: 400 20px/21px "Roboto", sans-serif;
      margin-top: 10px; }
    .req-sec .con-dtl-otr h5 {
      font: 400 16px/26px "Roboto", sans-serif;
      opacity: 0.8; }

footer .custm-hd-wdt-ft {
  padding: 80px 23.5% 35px; }

footer .bg-copy {
  background: #f4f4f4;
  padding-bottom: 20px;
  padding-top: 0px; }

footer .ftr-otr-mrg {
  float: none;
  width: 780px;
  margin: 0 auto; }

footer ul.bdt {
  float: left;
  width: 100%;
  padding-bottom: 24px; }

footer li.ft-lef:nth-child(1) {
  margin-left: 0px; }

footer li.ft-lef {
  float: left;
  margin-left: 71px; }

footer li.hed {
  font: 600 16px/26px "Sintony", sans-serif !important;
  margin-bottom: 14px; }

footer li.adr {
  font: 500 14px/26px "Sintony", sans-serif; }

footer .ser-pg li {
  font: 500 14px/26px "Sintony", sans-serif;
  margin-bottom: 8px; }

footer .zib {
  border: 1px solid #f3f0f0;
  padding: 10px 17px 12px;
  border-radius: 7%; }

footer .ft-img {
  margin-top: 0px;
  padding-top: 15px; }

footer .ft-cont {
  padding: 0 10%;
  font: 400 15px/26px "Roboto", sans-serif;
  margin-top: 13px;
  margin-bottom: 11px; }

footer .copy {
  margin-top: 0px;
  font: 500 14px/26px "Sintony", sans-serif;
  padding-top: 3px; }

footer .social-icn ul {
  width: 235px;
  float: none;
  margin: 0 auto; }
  footer .social-icn ul li {
    float: left;
    margin-left: 5px;
    background: #507cbd;
    padding: 9px 13px 8px;
    color: #fff;
    margin-top: 19px; }
    footer .social-icn ul li i {
      font-size: 18px; }
  footer .social-icn ul .bg2 {
    background: #c8c5b4; }
  footer .social-icn ul .bg1 {
    background: #f26261; }
  footer .social-icn ul .bg4 {
    background: #4e7da3; }
  footer .social-icn ul .bg3 {
    background: #62cdf1; }

header.bg.inner-header {
  background: #27c3df;
  min-height: 690px; }
  header.bg.inner-header .main-nav > ul > li > a {
    color: #fff !important; }
  header.bg.inner-header .main-nav ul li.activee:before {
    content: "";
    -webkit-transition: 0.2s ease-out all;
    -moz-transition: 0.2s ease-out all;
    -ms-transition: 0.2s ease-out all;
    -o-transition: 0.2s ease-out all;
    transition: 0.2s ease-out all;
    position: absolute;
    content: "";
    background: #fff;
    width: 100%;
    height: 3px;
    display: inline-block;
    bottom: -15px; }
  header.bg.inner-header .bg-bk {
    background: url(../img/about-img.png) no-repeat;
    min-height: 480px;
    background-size: contain !important;
    background-position: center !important; }
  header.bg.inner-header .bg-content .sldr-cont {
    margin-top: 199px; }
  header.bg.inner-header .bg-content .get_butn {
    background: #ffffff;
    color: #27c3df;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 50px; }
    header.bg.inner-header .bg-content .get_butn:before {
      background: #239db3; }
  header.bg.inner-header .bg-content .get_butn:hover {
    color: #fff !important; }

.abt-sec-req {
  background: #27c3df; }
  .abt-sec-req .get_butn {
    color: #27c3df;
    text-transform: uppercase; }

.about-inner-sec {
  float: left;
  width: 100%;
  padding-bottom: 110px; }
  .about-inner-sec .otr-tp-innr {
    margin-top: 20px; }
  .about-inner-sec .abt-sec-pr {
    margin-top: 100px;
    padding-bottom: 150px; }
  .about-inner-sec h3 {
    font: 700 30px/28px "Poppins", sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px;
    margin-bottom: 15px;
    color: #19d06d; }
  .about-inner-sec h4 {
    font: 400 17px/27px "Roboto", sans-serif;
    text-align: center;
    letter-spacing: 1px;
    color: #3b3b3b;
    width: 50%;
    margin: 0 auto; }
  .about-inner-sec .abt-lef-contn {
    margin-top: 80px; }
    .about-inner-sec .abt-lef-contn .diag-abt {
      background-color: #18d16e;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      width: 75px;
      height: 75px;
      border-radius: 3px;
      float: left;
      text-align: center; }
      .about-inner-sec .abt-lef-contn .diag-abt img.img-sec {
        width: 50px;
        margin-left: -4px;
        margin-top: 19px; }
      .about-inner-sec .abt-lef-contn .diag-abt img {
        -webkit-transform: rotate(315deg);
        -ms-transform: rotate(315deg);
        transform: rotate(315deg);
        margin-left: 2px;
        width: 37px;
        margin-top: 14px; }
    .about-inner-sec .abt-lef-contn .abt-cont-dl {
      padding-left: 35px;
      float: left;
      width: 68%; }
      .about-inner-sec .abt-lef-contn .abt-cont-dl h3 {
        font: 600 20px/27px "Poppins", sans-serif !important;
        text-align: left;
        letter-spacing: 1px;
        margin-bottom: 15px;
        color: #242424; }
      .about-inner-sec .abt-lef-contn .abt-cont-dl h4 {
        font: 400 16px/27px "Roboto", sans-serif;
        text-align: left;
        letter-spacing: 1px;
        color: #3b3b3b;
        width: auto; }
  .about-inner-sec .rt-sec .diag-abt {
    float: right; }
  .about-inner-sec .rt-sec .abt-cont-dl {
    padding-left: 35px;
    float: right;
    width: 68%;
    padding-left: 0px;
    padding-right: 34px; }
    .about-inner-sec .rt-sec .abt-cont-dl h3 {
      text-align: right !important; }
    .about-inner-sec .rt-sec .abt-cont-dl h4 {
      text-align: right !important; }

.close-icn {
  position: fixed;
  right: 260px;
  display: none;
  top: 0px;
  color: #fff;
  background: #19bf66;
  width: 25px;
  height: 25px; }
  .close-icn div {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    line-height: 24px;
    text-align: center;
    font-size: 25px; }

.modal-video-sec {
  top: 70px; }
  .modal-video-sec .modal-body, .modal-video-sec .modal-footer, .modal-video-sec .modal-header {
    border: none; }
  .modal-video-sec .close {
    font-size: 26px;
    color: #fff !important;
    text-shadow: 0 1px 0 #0c0c0c;
    opacity: 0.7;
    background: #525353;
    padding: 11px;
    margin-bottom: 9px;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    line-height: 15px; }
  .modal-video-sec .modal-header {
    padding-bottom: 0;
    padding-right: 0; }
  .modal-video-sec .modal-dialog {
    width: 1000px; }
  .modal-video-sec .vid-mdl {
    padding: 0; }
    .modal-video-sec .vid-mdl .buttons {
      margin-top: 5px;
      width: 100%;
      text-align: center;
      position: absolute;
      top: 40%; }
      .modal-video-sec .vid-mdl .buttons button {
        width: 50px;
        height: 50px;
        background: #fff;
        border: none;
        border-radius: 50%;
        display: inline-block; }
        .modal-video-sec .vid-mdl .buttons button i {
          color: #19bf66;
          font-size: 18px; }
      .modal-video-sec .vid-mdl .buttons .first {
        display: none; }
  .modal-video-sec .modal-content {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background: transparent;
    border: none; }

body.modal-open {
  margin-right: 0 !important;
  overflow: auto !important;
  padding-right: 0 !important; }

.modal-backdrop.in {
  opacity: 0.7; }

header.bg.bg-pricing .get_butn {
  background: #ffffff;
  color: #05bb6f;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 50px; }
  header.bg.bg-pricing .get_butn:before {
    background: #05bb6f; }

header.bg.bg-pricing .get_butn:hover {
  color: #fff !important; }

.price-detl {
  padding-bottom: 115px !important; }
  .price-detl .sub-scp {
    font: 500 30px/30px "Poppins", sans-serif !important;
    margin-bottom: 10px; }

.pricng-tabl {
  margin-top: 100px; }
  .pricng-tabl .table > tbody > tr > td, .pricng-tabl .table > tbody > tr > th, .pricng-tabl .table > tfoot > tr > td, .pricng-tabl .table > tfoot > tr > th, .pricng-tabl .table > thead > tr > td, .pricng-tabl .table > thead > tr > th {
    padding: 15px 30px 13px; }
  .pricng-tabl .table-bordered {
    background: #fff;
    border: 1px solid #e4e4e4;
    -webkit-box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.06); }
  .pricng-tabl .table-bordered > tbody > tr > td,
  .pricng-tabl .table-bordered > tbody > tr > th,
  .pricng-tabl .table-bordered > tfoot > tr > td, .pricng-tabl .table-bordered > tfoot > tr > th, .pricng-tabl .table-bordered > thead > tr > td, .pricng-tabl .table-bordered > thead > tr > th {
    border-bottom: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2; }
  .pricng-tabl .table > tbody:last-child > tr:last-child > td {
    border-bottom: 1px solid #e4e4e4; }
  .pricng-tabl .table-bordered > thead > tr > th {
    background: #fcfdff;
    font: 500 17px/29px "Roboto", sans-serif;
    text-transform: uppercase; }
  .pricng-tabl .table-bordered > tbody > tr > td {
    font: 400 15.5px/29px "Roboto", sans-serif; }
  .pricng-tabl .table-bordered > thead > tr > th:last-child {
    border-right: 1px solid #e4e4e4 !important; }
  .pricng-tabl .table-bordered > tbody:last-child > tr > td:last-child,
  .pricng-tabl .table-bordered > tbody:last-child > tr > th:last-child,
  .pricng-tabl .table-bordered > tfoot:last-child > tr > td:last-child, .pricng-tabl .table-bordered > tfoot:last-child > tr > th:last-child, .pricng-tabl .table-bordered > thead:last-child > tr > td:last-child, .pricng-tabl .table-bordered > thead:last-child > tr > th:last-child {
    border-right: 1px solid #e4e4e4; }

.mod-demo .modal {
  background: rgba(215, 236, 243, 0.7); }

.mod-demo .modal-dialog {
  width: 700px; }
  .mod-demo .modal-dialog .modal-content {
    border-radius: 2px; }

.mod-demo .modal-header {
  border: none;
  padding-bottom: 0px; }
  .mod-demo .modal-header h4 {
    font: 600 24px/27px "Poppins", sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 10px; }
  .mod-demo .modal-header h5 {
    text-align: center;
    font: 400 15px/22px "Roboto", sans-serif;
    padding: 17px 93px; }
  .mod-demo .modal-header .brd {
    border: 2px solid #05bb6f; }
  .mod-demo .modal-header .close {
    float: right;
    font-size: 48px;
    font-weight: 500;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    position: absolute;
    right: 38px; }

.mod-demo .modal-body .inp-sec .form-control {
  background: #f4f3f3;
  border: none;
  margin-bottom: 28px;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 44px;
  text-indent: 5px;
  font: 400 15px/22px "Roboto", sans-serif; }

.mod-demo .modal-body .inp-sec textarea {
  height: 120px !important; }

.mod-demo .modal-footer {
  border: none;
  padding-left: 48px;
  clear: both;
  padding-bottom: 45px;
  padding-top: 0px; }
  .mod-demo .modal-footer button {
    float: left;
    background: #05bb6f !important;
    color: #fff !important;
    border: none;
    height: 45px;
    border-radius: 1px;
    padding: 11px 19px;
    font: 400 15px/22px "Roboto", sans-serif; }

span.error-red {
  position: absolute;
  bottom: 6px;
  color: #f00;
  font-size: 13px;
  padding-left: 2px; }

@media (max-width: 1750px) {
  .logo img {
    width: 230px; } }

@media (max-width: 1679px) {
  .main-nav > ul > li > a {
    padding: 4px 0px;
    font: 13px/24px "Poppins", sans-serif !important; }
  footer .copy {
    margin-top: 0px; }
  footer .bg-copy {
    padding-bottom: 15px; }
  .data-res-sec .portfolio-wrapper {
    min-height: auto !important; }
  .portfolio-wrapper {
    min-height: auto; }
  header.bg .main-nav ul.req-ul {
    margin-left: 23px; }
  .mod-demo .modal-header h4 {
    font: 600 21px/27px "Poppins", sans-serif; }
  .mod-demo .modal-body .inp-sec .form-control {
    height: 40px;
    font: 400 13px/22px "Roboto", sans-serif; }
  .cont-lng {
    width: 50%; }
  .mod-demo .modal-footer button {
    height: 40px;
    padding: 7px 14px;
    font: 400 13px/19px "Roboto", sans-serif; }
  .mod-demo .modal-dialog {
    width: 600px; }
  .mod-demo .modal-header .close {
    font-size: 38px; }
  .smp_cont .smp_bg .smp_cont_txt, .smp_cont .smp_vid .smp_cont_txt {
    padding-left: 0px; }
  .smp_cont .smp_bg:hover .smp_cont_txt h3:before {
    bottom: 68px; }
  .logo img {
    width: 215px; }
  header.bg.bg-pricing .get_butn {
    height: 38px;
    width: 160px; }
  .price-detl .sub-scp {
    font: 500 20px/30px "Poppins", sans-serif !important; }
  .modal-video-sec .modal-dialog {
    width: 800px; }
  .smp_vid video {
    height: 175px !important; }
  header.bg.bg-pricing {
    min-height: 595px; }
  .modal-video-sec .close {
    font-size: 24px;
    padding: 8px;
    opacity: 0.9;
    height: 30px;
    width: 30px;
    line-height: 5px;
    opacity: 0.9; }
  .smp_cont .buttons {
    top: 55px; }
  .smp_cont .smp_bg {
    min-height: 175px; }
  .custm-hd-wdt, .custm-hd-wdt-bg {
    max-width: 1100px; }
  .about-sectn .custm-hd-wdt-bg, .custm-hd-wdt-bg {
    max-width: 1100px; }
  .busins_secn .custm-hd-wdt-pr {
    max-width: 1100px; }
  .modal-video-sec {
    top: 3px; }
  .about-inner-sec h3 {
    font: 500 24px/15px "Poppins", sans-serif; }
  .about-inner-sec h4 {
    font: 400 15px/23px "Roboto", sans-serif; }
  header.bg.inner-header .bg-bk {
    min-height: 290px; }
  .about-inner-sec .abt-lef-contn .diag-abt img.img-sec {
    width: 43px;
    margin-left: -3px;
    margin-top: 16px; }
  .about-inner-sec .abt-lef-contn .abt-cont-dl h3 {
    font: 600 16px/22px "Poppins", sans-serif !important; }
  .about-inner-sec .abt-lef-contn .diag-abt img {
    margin-left: 0px;
    width: 31px;
    margin-top: 12px; }
  .about-inner-sec .abt-lef-contn .abt-cont-dl h4 {
    font: 400 13px/26px "Roboto", sans-serif; }
  .wid-abt-inr {
    width: 85%; }
  .about-inner-sec .abt-sec-pr {
    margin-top: 75px; }
  .about-inner-sec {
    padding-bottom: 85px; }
  .main-nav ul li.activee:before {
    bottom: -3px; }
  .about-inner-sec .abt-lef-contn .diag-abt {
    width: 60px;
    height: 60px; }
  header.bg.inner-header .bg-content .sldr-cont {
    margin-top: 122px; }
  header.bg.inner-header .bg-content .get_butn {
    height: 40px; }
  header.bg.inner-header {
    min-height: 500px; }
  .nav-sec {
    padding: 15px 0px 15px !important; }
  .main-nav > ul > li {
    margin-left: 23px !important; }
  header.bg .menu-wrp {
    margin-top: 13px; }
  .bg-bk {
    background-size: contain;
    top: 19px; }
  .bg-content .sldr-cont {
    margin-top: 168px; }
  .bg-content .sldr-cont h3 {
    color: #fff;
    font: 600 28px/30px "Poppins", sans-serif;
    margin-bottom: 8px; }
  .bg-content .sldr-cont h5 {
    color: #fff;
    font: 300 14px/21px "Poppins", sans-serif; }
  .bg-content .sldr-cont .get_butn {
    width: 175px;
    margin-top: 20px;
    height: 40px;
    border-radius: 6px;
    font: 400 11px/37px "Poppins", sans-serif;
    letter-spacing: 3px; }
  .smp_cont {
    top: 504px; }
  header.bg {
    min-height: 909px; }
  .smp_cont .smp_bg .smp_cont_txt h3:before {
    bottom: 13px; }
  .smp_cont .smp_bg .smp_cont_txt h3 {
    font: 400 13px/40px "Poppins", sans-serif;
    letter-spacing: 0.2px; }
  .smp_cont .smp_vid .smp_cont_txt h3 {
    font: 400 12px/50px "Poppins", sans-serif;
    letter-spacing: 0.2px; }
  .smp_cont .buttons button {
    width: 45px;
    height: 45px; }
  .smp_cont .buttons button i {
    font-size: 16px; }
  .smp_cont .smp_bg .smp_cont_txt, .smp_cont .smp_vid .smp_cont_txt {
    height: 50px; }
  .about-sectn {
    margin-top: -280px;
    padding-bottom: 75px; }
  .about-sectn h3 {
    font: 600 24px/25px "Poppins", sans-serif;
    margin-bottom: 8px; }
  .about-sectn .abt-sec-pr {
    margin-top: 125px; }
  .about-sectn h4 {
    font: 400 14px/22px "Roboto", sans-serif;
    text-align: center; }
  .about-sectn .abt-otr .otr-sec-abt .lef-abt-qn .abt-cont-qn h3, .about-sectn .abt-otr .otr-sec-abt .rt-abt-qn .abt-cont-qn-rt h3 {
    font: 600 15px/20px "Poppins", sans-serif; }
  .about-sectn .abt-otr .otr-sec-abt .lef-abt-qn .abt-cont-qn h4, .about-sectn .abt-otr .otr-sec-abt .rt-abt-qn .abt-cont-qn-rt h4 {
    font: 500 12px/21px "Sintony", sans-serif; }
  .about-sectn .abt-otr .otr-sec-abt .lef-abt-qn .abt-cont-qn {
    border-right: 2px solid #d3d5d6; }
  .about-sectn .abt-otr .otr-sec-abt .lef-abt-qn .line-sec-abt,
  .about-sectn .abt-otr .otr-sec-abt .lef-abt-qn .line-sec-abt-tp {
    margin-left: 0px;
    width: 24%;
    border-bottom: 2.2px solid #d3d5d6;
    margin-top: 40px; }
  .about-sectn .abt-otr .otr-sec-abt .lef-abt-qn .line-sec-abt:after {
    height: 40px;
    width: 40px;
    font: 600 13px/40px "Sintony", sans-serif;
    right: -38px;
    top: -23px; }
  .about-sectn .abt-otr .otr-sec-abt .lef-abt-qn .line-sec-abt:before {
    right: -34px;
    top: -20px;
    height: 32px;
    width: 32px; }
  .about-sectn .abt-otr .otr-sec-abt .rt-abt-qn .abt-cont-qn-rt {
    border-left: 2px solid #d3d5d6; }
  .about-sectn .abt-otr .otr-sec-abt .rt-abt-qn .line-sec-abt-rt {
    margin-right: 0px;
    width: 24%;
    border-bottom: 2.2px solid #d3d5d6;
    margin-top: 42px; }
  .about-sectn .abt-otr .otr-sec-abt .rt-abt-qn .line-sec-abt-rt:before {
    height: 32px;
    width: 32px;
    left: -34px;
    top: -16px; }
  .about-sectn .abt-sec-pr {
    padding-bottom: 90px; }
  .about-sectn .abt-otr .otr-sec-abt .rt-abt-qn .line-sec-abt-rt:after {
    height: 40px;
    width: 40px;
    font: 600 13px/40px "Sintony", sans-serif;
    left: -38px;
    top: -20px; }
  .about-sectn .abt-otr .otr-sec-abt .lef-abt-qn .line-sec-abt-tp span:before {
    width: 2.5px; }
  .about-sectn .abt-otr .otr-sec-abt .lef-abt-qn .line-sec-abt-tp:before {
    height: 32px;
    width: 32px;
    right: -15px;
    top: -118px; }
  .about-sectn .abt-otr .otr-sec-abt .lef-abt-qn .line-sec-abt-tp:after {
    height: 40px;
    width: 40px;
    right: -19px;
    top: -122px;
    font: 600 13px/40px "Sintony", sans-serif; }
  .about-sectn .abt-otr .otr-sec-abt .rt-abt-qn .line-sec-abt-tp {
    border-bottom: 2.2px solid #d3d5d6;
    margin-right: 0px;
    width: 24%;
    margin-top: 40px; }
  .about-sectn .abt-otr .otr-sec-abt .rt-abt-qn .line-sec-abt-tp span:before {
    width: 2.5px; }
  .about-sectn .abt-otr .otr-sec-abt .rt-abt-qn .line-sec-abt-tp:before {
    height: 32px;
    width: 32px;
    left: -15.6px;
    top: -118.5px; }
  .about-sectn .abt-otr .otr-sec-abt .rt-abt-qn .line-sec-abt-tp:after {
    height: 40px;
    width: 40px;
    left: -19px;
    top: -122px;
    font: 600 13px/40px "Sintony", sans-serif; }
  .busins_secn .bg-busin .cont-bus-sec h3 {
    font: 600 24px/31px "Poppins", sans-serif; }
  .busins_secn .bg-busin .cont-bus-sec {
    margin-top: 120px; }
  .busins_secn .bg-busin .cont-bus-sec h4 {
    font: 400 14px/24px "Roboto", sans-serif; }
  .pricing .pricing-sec h4 {
    font: 400 14px/22px "Roboto", sans-serif; }
  .busins_secn .bg-busin .cont-bus-sec {
    padding-right: 95px; }
  .busins_secn .bg-busin .cont-bus-sec h5 {
    font: 500 19px/27px Roboto, sans-serif; }
  .busins_secn .get_butn {
    width: 175px;
    margin-top: 20px;
    height: 40px;
    border-radius: 6px;
    font: 400 11px/37px "Poppins", sans-serif;
    letter-spacing: 3px; }
  .busins_secn .bg-busin .bg-busn {
    min-height: 550px; }
  .busins_secn .bg-busin .bg-busn .img-cont h3 {
    font: 400 16px/18px "Roboto", sans-serif;
    padding: 9px 11px 10px;
    margin-bottom: 5px; }
  .pricing .pricing-sec h3 {
    font: 600 24px/25px "Poppins", sans-serif;
    margin-bottom: 8px; }
  .pricing .pricing-sec .pricing-cont-detl .pricing-typ h4 {
    font: 400 15px/23px "Roboto", sans-serif; }
  .pricing .pricing-sec .pricing-cont-detl .pricing-typ h3 {
    font: 400 16px/23px "Roboto", sans-serif;
    letter-spacing: 0px; }
  .pricng-tabl .table > tbody > tr > td, .pricng-tabl .table > tbody > tr > th, .pricng-tabl .table > tfoot > tr > td, .pricng-tabl .table > tfoot > tr > th, .pricng-tabl .table > thead > tr > td, .pricng-tabl .table > thead > tr > th {
    padding: 10px; }
  .pricing .pricing-otr {
    margin-top: 27px; }
  .price-detl {
    padding-bottom: 84px !important; }
  .pricing .pricing-sec .pricing-cont-detl .pricing-typ {
    padding: 10px 0px 10px; }
  .pricng-tabl {
    margin-top: 62px; }
  .pricng-tabl .table-bordered > tbody > tr > td {
    font: 400 13px/29px "Roboto", sans-serif; }
  .pricng-tabl .table-bordered > thead > tr > th {
    font: 500 14px/29px "Roboto", sans-serif; }
  .pricing .pricing-sec .cont-dl {
    text-align: left;
    font: 400 13px/27px "Roboto", sans-serif;
    margin-top: 12px; }
  .pricing .pricing-sec .but-prc {
    width: 140px;
    height: 38px;
    font: 400 11px/25px "Roboto", sans-serif; }
  .pricing .pricing-sec .pricing-cont-detl {
    text-align: center; }
  .pricing .pricing-sec .pricing-cont-detl li.lef {
    -webkit-box-shadow: 0px 8px -2px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 8px 0px -2px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 8px 0px -2px rgba(0, 0, 0, 0.06); }
  .pricing {
    padding-bottom: 110px;
    padding-top: 67px; }
  footer .ftr-otr-mrg {
    float: none;
    width: 685px; }
  .data-res-sec {
    padding-top: 60px;
    padding-bottom: 60px; }
  .data-res-sec .resource-sec h3 {
    font: 600 24px/25px "Poppins", sans-serif;
    margin-bottom: 8px; }
  .data-res-sec .resource-sec h4 {
    font: 400 14px/22px Roboto, sans-serif; }
  .data-res-sec #filters li span {
    padding: 6px 26px;
    margin-right: 5px;
    font: 600 13px/20px "Poppins", sans-serif; }
  .data-res-sec #filters {
    width: 435px;
    margin-bottom: 28px; }
  .data-res-sec .otr-pot {
    margin-top: 27px; }
  .req-sec .reqs-sec h3 {
    font: 600 24px/25px "Poppins", sans-serif;
    margin-bottom: 12px; }
  .req-sec .reqs-sec h4 {
    font: 400 14px/22px Roboto, sans-serif; }
  .req-sec .con-dtl-otr h5 {
    font: 400 13px/20px "Roboto", sans-serif; }
  .req-sec .con-dtl-otr .icn {
    font-size: 27px; }
  .req-sec .get_butn {
    width: 200px;
    background: #fff;
    margin-top: 7px;
    height: 45px;
    border-radius: 6px;
    font: 400 13px/44px "Poppins", sans-serif;
    letter-spacing: 4px; }
  .req-sec .con-dtl-otr h5 {
    font: 400 14px/20px "Roboto", sans-serif; }
  .req-sec .reqs-sec h4 {
    font: 400 15px/20px "Roboto", sans-serif !important; }
  footer li.hed {
    font: 600 14px/24px "Sintony", sans-serif !important;
    margin-bottom: 4px; }
  footer li.adr {
    font: 500 12px/26px "Sintony", sans-serif; }
  footer .ser-pg li {
    font: 500 12px/24px "Sintony", sans-serif;
    margin-bottom: 8px; }
  footer .zib {
    border: 1px solid #f3f0f0;
    padding: 7px 7px 7px;
    text-align: center; }
  footer .zib img {
    width: 108px; }
  .ft-img img {
    width: 185px; }
  footer .ft-cont {
    padding: 0 10%;
    font: 400 13px/23px "Roboto", sans-serif;
    margin-top: 9px; }
  .about-sectn .abt-otr .otr-sec-abt .tpr-abt {
    margin-top: 120px; }
  footer .social-icn ul li {
    margin-top: 10px;
    padding: 5px 12px 5px; }
  footer .social-icn ul li i {
    font-size: 15px; }
  footer .copy {
    font: 500 12.5px/25px "Sintony", sans-serif; }
  footer .custm-hd-wdt-ft {
    padding: 33px 23.5% 19px; } }

@media (max-width: 1460px) {
  .smp_cont {
    top: 477px; }
  .main-nav > ul > li {
    margin-left: 22px !important; }
  header.bg {
    min-height: 874px; }
  .about-sectn {
    margin-top: -270px; }
  .bg-content .sldr-cont {
    margin-top: 135px; }
  header.bg.bg-pricing {
    min-height: 495px; } }

@media (max-width: 1280px) {
  .smp_cont {
    top: 426px; }
  header.bg .main-nav ul.req-ul {
    margin-left: 18px; }
  .busins_secn .bg-busin .cont-bus-sec h3 {
    font: 600 20px/27px "Poppins", sans-serif; }
  .busins_secn .bg-busin .cont-bus-sec h5 {
    font: 500 17px/27px Roboto, sans-serif; }
  .pricing .pricing-sec h3, .data-res-sec .resource-sec h3, .req-sec .reqs-sec h3 {
    margin-bottom: 5px;
    font: 600 21px/25px Poppins, sans-serif; }
  .about-sectn h3 {
    font: 600 21px/25px "Poppins", sans-serif;
    margin-bottom: 5px; }
  .about-sectn h4, .pricing .pricing-sec h4, .data-res-sec .resource-sec h4, .req-sec .reqs-sec h4 {
    font: 400 13px/20px "Roboto", sans-serif;
    margin-bottom: 5px; }
  .about-sectn .abt-otr {
    margin-top: 70px; }
  .bg-content .sldr-cont h5 {
    font: 300 13px/20px "Poppins", sans-serif; }
  .bg-content .sldr-cont h3 {
    font: 600 23px/26px "Poppins", sans-serif; }
  .logo img {
    width: 175px; }
  .about-inner-sec h4 {
    font: 400 15px/23px "Roboto", sans-serif;
    width: 60%; }
  .wid-abt-inr {
    width: 96%; }
  .custm-hd-wdt, .custm-hd-wdt-bg {
    max-width: 980px; }
  .pricing .pricing-sec .pd-lef {
    padding-left: 6%; }
  .custm-hd-wdt-bg {
    max-width: 900px; }
  .about-sectn .custm-hd-wdt-bg {
    max-width: 1000px; }
  .busins_secn .custm-hd-wdt-pr {
    max-width: 900px; }
  .main-nav > ul > li {
    margin-left: 18px !important; }
  header.bg .menu-wrp {
    margin-top: 5px; }
  .smp_cont .buttons button {
    width: 40px;
    height: 40px; }
  .main-nav > ul > li > a {
    font: 12px/24px "Poppins", sans-serif !important; }
  .smp_vid video {
    height: 175px !important; }
  .smp_cont .buttons {
    top: 55px; }
  .smp_cont .smp_bg {
    min-height: 175px; }
  .bg-content .sldr-cont {
    margin-top: 140px; }
  header.bg {
    min-height: 826px; }
  .bg-content .sldr-cont {
    margin-top: 129px; } }

@media (max-width: 1199px) {
  footer .ftr-otr-mrg {
    width: 630px; }
  .row.rw-mb {
    padding-left: 40px !important;
    padding-right: 40px !important; }
  header.bg.bg-pricing {
    min-height: 415px; }
  .logo-out {
    padding: 0; }
  .busins_secn .bg-busin .cont-bus-sec {
    padding-right: 68px; }
  .bg-content .sldr-cont {
    margin-top: 98px; }
  .smp_cont .smp_bg .smp_cont_txt h3, .smp_cont .smp_vid .smp_cont_txt h3 {
    letter-spacing: 1px; }
  .busins_secn .bg-busin .cont-bus-sec {
    margin-top: 80px; }
  footer li.ft-lef {
    margin-left: 55px; } }

@media (max-width: 1023px) {
  .smp_cont {
    top: 355px; }
  header.bg .main-nav ul {
    width: 100%; }
  .custm-hd-wdt, .custm-hd-wdt-bg {
    max-width: 100%;
    padding: 0 8%; }
  .about-sectn .custm-hd-wdt-bg, .custm-hd-wdt-bg {
    max-width: 100%;
    padding: 0 8%; }
  .busins_secn .custm-hd-wdt-pr {
    max-width: 100%;
    padding: 0 15%; }
  .custm-hd-wdt-bg {
    padding: 0 15%; }
  .logo img {
    max-width: inherit;
    width: 140px; }
  .mob-btn {
    top: 3px !important; }
  header.bg.inner-header .container-fluid.custm-hd-wdt.hd-brdr {
    background: #2db0c7; }
  header.bg.inner-header .main-nav {
    background: #25a6bd !important; }
  header.bg.inner-header .main-nav ul li {
    border-bottom: 1px solid #2db0c7 !important; }
  .bg-hdr-mb {
    top: 68px; }
  .bg-hdr-mb-sec {
    top: 49px; }
  .main-nav > ul > li {
    margin-left: 0px !important; }
  .main-nav {
    background: #1e374c !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
  .main-nav ul li {
    border-bottom: 1px solid #2d4050 !important; }
  .main-nav ul li.activee:before {
    background: none !important; }
  .pricing .pricing-sec .pricing-cont-detl li.lef {
    width: 50%; }
  .pricing .pricing-sec .pd-lef {
    padding-left: 0; }
  .pricing .pricing-sec .cont-dl {
    padding-left: 8%; }
  header.bg {
    min-height: 750px; }
  .bg-content .sldr-cont {
    margin-top: 90px; }
  footer li.ft-lef {
    margin-left: 40px; }
  .container-fluid.custm-hd-wdt.hd-brdr {
    background: #173046;
    position: fixed;
    float: left;
    width: 100%;
    z-index: 1000; }
  header.bg .main-nav ul.req-ul {
    margin-left: 0; }
  header.bg .hd-otr {
    margin-top: 12px;
    float: left;
    width: 100%;
    padding-bottom: 16px; }
  .logo-out {
    padding: 0; } }

@media (max-width: 991px) {
  .smp_cont {
    top: auto; }
  .nav-sec {
    padding: 0px !important; }
  .about-sectn .abt-otr .otr-sec-abt .lef-abt-qn .abt-cont-qn h3, .about-sectn .abt-otr .otr-sec-abt .rt-abt-qn .abt-cont-qn-rt h3 {
    float: left;
    width: 100%; }
  .req-sec .flip-banner {
    height: 425px; }
  .smp_cont .smp_bg .smp_cont_txt, .smp_cont .smp_vid .smp_cont_txt {
    padding-left: 0px;
    text-align: center; }
  .row.rw-mb {
    padding-left: 0px !important;
    padding-right: 0px !important; }
  .pricing .pricing-sec .pricing-cont-detl .pricing-typ h4, .pricing .pricing-sec .pricing-cont-detl .pricing-typ h3, li.text-center.but-ftb {
    text-align: left;
    padding-left: 8%; }
  header.bg.bg-pricing .get_butn {
    height: 45px;
    width: 175px; }
  .smp_cont .smp_bg .smp_cont_txt h3:before, .smp_cont .smp_vid .smp_cont_txt h3:before {
    content: none; }
  .modal-video-sec .modal-dialog {
    width: 95%;
    float: none;
    margin: 0 auto; }
  footer .ftr-otr-mrg {
    width: 586px; }
  header.bg.inner-header .main-nav {
    top: 54px !important; }
  header.bg.inner-header .main-nav ul li a:hover {
    background: #1e92a7; }
  .about-inner-sec .otr-tp-innr {
    margin-top: 0px; }
  .wid-abt-inr {
    width: 94%; }
  .about-inner-sec h4 {
    width: 80%; }
  .about-inner-sec .rt-sec .abt-cont-dl {
    padding-left: 35px;
    padding-right: 0px; }
  .about-inner-sec .rt-sec .abt-cont-dl h3 {
    text-align: left !important; }
  .about-inner-sec .rt-sec .abt-cont-dl h4 {
    text-align: left !important; }
  .about-inner-sec .rt-sec .abt-cont-dl, .about-inner-sec .abt-lef-contn .abt-cont-dl {
    float: left;
    width: 88%; }
  .about-inner-sec .rt-sec .diag-abt {
    float: left; }
  header.bg.inner-header {
    min-height: 550px; }
  header.bg.inner-header .bg-bk {
    min-height: 280px;
    top: 215px; }
  header.bg.inner-header .bg-content .sldr-cont {
    margin-top: 38px; }
  header.bg.inner-header {
    min-height: 580px; }
  .otr-sec-abt.text-center {
    clear: both; }
  .lef-abt-qn .abt-cont-qn h3:before {
    content: "01";
    height: 37px;
    width: 37px;
    display: inline-block;
    background: #27c3df;
    position: static;
    left: -41px;
    top: -4px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font: 600 14px/39px "Sintony", sans-serif; }
  .about-sectn .abt-otr {
    margin-top: 25px; }
  .tpr-abt .abt-cont-qn h3:before {
    content: "02";
    height: 37px;
    width: 37px;
    display: inline-block;
    background: #27c3df;
    position: static;
    left: -41px;
    top: -4px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font: 600 14px/39px "Sintony", sans-serif; }
  .rt-abt-qn .abt-cont-qn-rt h3:before {
    content: "03";
    height: 37px;
    width: 37px;
    display: inline-block;
    background: #27c3df;
    position: static;
    left: -41px;
    top: -4px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font: 600 14px/39px "Sintony", sans-serif; }
  .tpr-abt .abt-cont-qn-rt h3:before {
    content: "04";
    height: 37px;
    width: 37px;
    display: inline-block;
    background: #27c3df;
    position: static;
    left: -41px;
    top: -4px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font: 600 14px/39px "Sintony", sans-serif; }
  .about-sectn .abt-otr .otr-sec-abt .tpr-abt {
    margin-top: 22px !important; }
  .about-sectn .abt-otr .otr-sec-abt .rt-abt-qn .abt-cont-qn-rt h3, .about-sectn .abt-otr .otr-sec-abt .rt-abt-qn .abt-cont-qn-rt h4 {
    text-align: center; }
  .about-sectn .abt-otr .otr-sec-abt .lef-abt-qn .abt-cont-qn h3, .about-sectn .abt-otr .otr-sec-abt .lef-abt-qn .abt-cont-qn h4 {
    text-align: center; }
  .about-sectn .abt-otr .otr-sec-abt .tpr-abt {
    margin-top: 15px; }
  .line-sec-abt, .line-sec-abt-tp, .line-sec-abt-rt {
    display: none; }
  .about-sectn .abt-otr .otr-sec-abt .lef-abt-qn .abt-cont-qn, .about-sectn .abt-otr .otr-sec-abt .rt-abt-qn .abt-cont-qn-rt {
    border: none; }
  .about-sectn {
    margin-top: 0px;
    padding-bottom: 35px; }
  .smp_cont {
    position: relative;
    padding: 26px 0px 27px; }
  .smp_cont .smp_bg, .smp_cont .smp_vid {
    width: 50%;
    float: left; }
  .about-sectn .abt-sec-pr {
    margin-top: 45px;
    padding-bottom: 40px; }
  .busins_secn .bg-busin .cont-bus-sec {
    margin-top: 45px;
    text-align: center; }
  .busins_secn {
    padding-bottom: 50px;
    min-height: auto; }
  .bg-busn {
    display: none; }
  .busins_secn .bg-busin .cont-bus-sec {
    padding: 0; }
  header.bg {
    min-height: 604px; }
  header.bg .bg-bk {
    min-height: 355px;
    background-position: center;
    top: 181px;
    display: none; }
  header.bg.inner-header .bg-bk {
    display: block; }
  header.bg.inner-header .bg-content .sldr-cont h3 {
    margin: 10px 0 14px 0;
    font: 400 31px/39px "Poppins", sans-serif; }
  header.bg.inner-header .bg-content .get_butn {
    height: 46px;
    margin-top: 13px; }
  .bg-content .sldr-cont {
    position: absolute;
    margin-top: 30px;
    text-align: center; }
  .bg-content .sldr-cont .get_butn {
    width: 161px;
    margin-top: 13px; }
  .bg-content .sldr-cont h3 {
    font: 600 35px/30px "Poppins", sans-serif;
    margin: 35px 0 20px 0; }
  header.bg {
    min-height: 395px; }
  .bg-content .sldr-cont .get_butn {
    width: 201px;
    margin-top: 20px;
    height: 47px;
    border-radius: 6px;
    font: 400 13px/44px "Poppins", sans-serif; }
  .pad-mob {
    padding: 0; }
  .bg-content .sldr-cont h5 {
    font: 300 17px/28px "Poppins", sans-serif; }
  .data-res-sec {
    padding-top: 45px;
    padding-bottom: 45px; }
  .pricing {
    padding-bottom: 70px;
    padding-top: 45px; }
  footer .custm-hd-wdt-ft {
    padding: 33px 6.5% 19px; }
  .show-menu .main-nav {
    top: 52px !important; }
  table.table.table-bordered {
    margin-top: 25px !important; }
  .cont-lng {
    width: 60%; }
  .about-sectn .img-cn img {
    width: 41%;
    margin-top: 11px; } }

@media (max-width: 767px) {
  .logo img {
    width: 135px; }
  .container-fluid.custm-hd-wdt.hd-brdr {
    padding-bottom: 12px; }
  .mod-demo .modal-dialog {
    width: 97%; }
  .data-res-sec #filters li span {
    padding: 6px 18px; }
  .data-res-sec #filters {
    width: 425px; }
  .cont-lng {
    width: 70%; }
  .price-detl {
    padding-bottom: 58px !important; }
  .busins_secn .custm-hd-wdt-pr {
    padding: 0 8%; }
  .custm-hd-wdt-bg {
    padding: 0 8%; }
  .adr-brdr {
    border-bottom: 1px solid #f7f5f5; }
  .bg-content .sldr-cont h3 {
    margin: 25px 0 20px 0;
    font: 600 35px/39px "Poppins", sans-serif; }
  .bg-content .sldr-cont h5 {
    font: 300 16px/28px "Poppins", sans-serif; }
  .ser-pg {
    border-bottom: 1px solid #f7f5f5; }
  .main-nav ul li a {
    padding: 10px 26px !important; }
  footer .ftr-otr-mrg {
    width: 100%; }
  .modal-video-sec .modal-dialog {
    width: 95%;
    padding-left: 15px; }
  header.bg .hd-otr {
    margin-top: 10px;
    padding-bottom: 0px; }
  .logo-out {
    padding-left: 21px; }
  .about-inner-sec .rt-sec .abt-cont-dl, .about-inner-sec .abt-lef-contn .abt-cont-dl {
    float: left;
    width: 100%;
    padding-left: 0;
    margin-top: 32px; }
  .wid-abt-inr {
    width: 100%; }
  .about-inner-sec .abt-sec-pr {
    margin-top: 45px;
    padding-bottom: 0px; }
  .about-inner-sec {
    padding-bottom: 57px; }
  .about-inner-sec .abt-lef-contn .abt-cont-dl h3, .about-inner-sec .abt-lef-contn .abt-cont-dl h3 {
    text-align: center !important;
    margin-bottom: 6px; }
  .about-inner-sec .abt-lef-contn .abt-cont-dl h4 {
    text-align: center !important; }
  .about-inner-sec .otr-tp-innr {
    margin-top: 0px; }
  .about-inner-sec .abt-lef-contn {
    margin-top: 40px;
    padding-left: 0; }
  .about-inner-sec .abt-lef-contn .diag-abt {
    margin: 0 auto;
    float: none; }
  .bg-bk {
    top: 189px; }
  footer li.ft-lef {
    margin-left: 0px;
    width: 100%;
    text-align: center;
    padding-bottom: 6px; }
  li.hed {
    border: none !important; }
  footer li.adr {
    margin-bottom: 10px; }
  .smp_cont {
    position: relative;
    padding: 20px 0px 27px; }
  footer .ft-img {
    margin-top: 0px;
    padding-top: 15px; }
  li.ft-lef.zib {
    width: 122px;
    float: none;
    margin: 0 auto;
    clear: both; }
  .about-sectn .abt-otr .otr-sec-abt .lef-abt-qn .abt-cont-qn, .about-sectn .abt-otr .otr-sec-abt .rt-abt-qn .abt-cont-qn-rt {
    padding: 0; }
  .mbt-ftr-btm {
    margin-bottom: 13px; }
  .lef-abt-qn .abt-cont-qn h3:before, .rt-abt-qn .abt-cont-qn-rt h3:before {
    height: 32px;
    width: 32px;
    font: 600 13px/32px "Sintony", sans-serif; }
  .mob-btn {
    top: -28px !important;
    right: 5px !important; }
  .bg-bk {
    min-height: 319px;
    background-position: center;
    top: 199px; }
  footer ul.bdt {
    border: none; }
  .req-sec .flip-banner-content {
    top: 0; }
  .req-sec .flip-banner-content .flip-visible, .req-sec .flip-banner-content .flip-hidden {
    position: relative;
    top: 0%;
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: none;
    -o-transition: none;
    transition: none; }
  .req-sec .flip-banner-content .flip-hidden {
    visibility: visible;
    opacity: 1; }
  .req-sec .flip-banner:hover .flip-banner-content .flip-hidden {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%); }
  .req-sec .reqs-sec h3 {
    font: 400 20px/25px "Poppins", sans-serif; }
  .req-sec .flip-banner {
    height: auto; }
  .req-sec .reqs-sec h4 {
    font: 400 12px/21px "Sintony", sans-serif; }
  .req-sec .parallax-overlay {
    position: relative; }
  .req-sec {
    padding: 40px 10px 40px; }
  .req-sec .flip-banner:hover .flip-banner-content .flip-visible {
    opacity: 1 !important;
    visibility: visible !important;
    -webkit-transform: translateY(0%) !important;
    -ms-transform: translateY(0%) !important;
    transform: translateY(0%) !important; }
  .row.rw-mb {
    margin-right: 0px; }
  .pricing .pricing-otr {
    padding: 0; } }

@media (max-width: 630px) {
  .bg-content .sldr-cont h3 {
    margin: 3px 0 20px 0; }
  .custm-hd-wdt, .custm-hd-wdt-bg {
    padding: 0 5%; }
  .pricing .pricing-sec .pricing-cont-detl li.lef {
    width: 100%; }
  .pricing .pricing-sec .pricing-cont-detl li.lef {
    margin-bottom: 18px !important; } }

@media (max-width: 550px) {
  header.bg.inner-header {
    min-height: 630px; }
  header.bg.inner-header .bg-bk {
    min-height: 280px;
    top: 272px; }
  .mod-demo .modal-header h5 {
    padding: 17px 43px; }
  .pricng-tabl {
    padding: 0; } }

@media (max-width: 479px) {
  .pricng-tabl {
    margin-top: 18px; }
  .mod-demo .modal-footer {
    padding-left: 32px;
    padding-bottom: 33px; }
  .about-sectn .img-cn img {
    width: 70%;
    margin-top: 5px; }
  .mod-demo .modal-header h5 {
    padding: 17px 13px; }
  .mod-demo .modal-dialog {
    width: 95%; }
  .cont-lng {
    width: 90%; }
  .pricing .pricing-sec .pricing-cont-detl .pricing-typ h4, .pricing .pricing-sec .pricing-cont-detl .pricing-typ h3, li.text-center.but-ftb {
    text-align: center;
    padding-left: 0%; }
  .bg-content .sldr-cont h3 {
    font: 600 28px/36px "Poppins", sans-serif;
    margin-bottom: 9px; }
  header.bg.bg-pricing {
    min-height: 385px; }
  header.bg.inner-header .main-nav {
    top: 52px !important; }
  .row.rw-mb {
    margin-right: 3px; }
  .modal-video-sec .modal-dialog {
    padding-left: 0px; }
  .custm-hd-wdt {
    padding: 0 4%; }
  header.bg.inner-header .bg-content .sldr-cont h3 {
    font: 400 27px/37px "Poppins", sans-serif; }
  header.bg.inner-header .bg-content .sldr-cont {
    margin-top: 20px; }
  header.bg.inner-header .bg-bk {
    top: 260px; }
  header.bg.inner-header {
    min-height: 610px; }
  .bg-hdr-mb {
    top: 50px; }
  header.bg {
    min-height: 375px; }
  .logo img {
    width: 130px; }
  .show-menu .main-nav {
    top: 50px !important; }
  .data-res-sec #portfoliolist .portfolio {
    width: 100%;
    margin-top: 2%;
    margin-left: 0px; }
  .about-inner-sec h3 {
    font: 500 22px/15px "Poppins", sans-serif; }
  .about-inner-sec h4 {
    width: 90%; }
  .about-inner-sec h4 {
    font: 400 13px/20px "Roboto", sans-serif; }
  .busins_secn .bg-busin .cont-bus-sec h3 {
    font: 300 19px/25px "Poppins", sans-serif; }
  .pricing .pricing-sec h3 {
    font: 600 21px/22px "Poppins", sans-serif;
    margin-bottom: 7px; }
  .req-sec .get_butn {
    width: 179px;
    height: 40px;
    font: 400 12px/36px "Poppins", sans-serif;
    letter-spacing: 4px; }
  .pricing .pricing-sec h4 {
    font: 400 12px/22px "Roboto", sans-serif; }
  .data-res-sec .portfolio-wrapper {
    padding: 15px 50px 17px; }
  .data-res-sec #filters li span {
    padding: 4px 8px;
    font: 600 12px/20px "Poppins", sans-serif;
    margin-right: 3px; }
  .data-res-sec #filters {
    width: 100%;
    margin-top: 19px;
    margin-bottom: 17px; }
  .data-res-sec {
    padding-top: 45px;
    padding-bottom: 39px; }
  .data-res-sec #filters li {
    float: left;
    margin-bottom: 8px; }
  .bg-content .sldr-cont .get_butn {
    width: 180px;
    margin-top: 7px; }
  .bg-content .sldr-cont h5 {
    font: 300 16px/25px "Poppins"; }
  .smp_cont .smp_bg, .smp_cont .smp_vid {
    width: 100%;
    margin-bottom: 10px; }
  .busins_secn .bg-busin .cont-bus-sec {
    margin-top: 40px; }
  .pricing .pricing-sec .pricing-cont-detl li.lef {
    width: 100%; }
  .pricing .pricing-sec .pricing-cont-detl li.lef {
    margin-bottom: 18px !important; }
  .pricing .pricing-sec .pricing-cont-detl {
    -webkit-box-shadow: none;
    box-shadow: none; }
  .pricing {
    padding-bottom: 45px; } }

@media only screen and (min-width: 1024px) {
  /*=== Append and Prepend ===*/
  .desk-hide {
    display: none; }
  /*=== Append and prepend ====*/
  /*==== Menu ====*/
  .main-nav {
    font-size: 17px; }
    .main-nav > ul {
      margin: 0;
      padding: 0; }
      .main-nav > ul > li {
        display: inline-block;
        position: relative;
        margin-left: 36px;
        /*&:last-child {
				margin: 0;
			}*/ }
        .main-nav > ul > li:first-child {
          margin-left: 0px; }
        .main-nav > ul > li.submenu:after {
          content: "";
          position: absolute;
          height: 0;
          width: 0;
          border-left: 3px solid transparent;
          border-right: 3px solid transparent;
          border-top: 6px solid #fff;
          right: 2px;
          top: 16px;
          pointer-events: none; }
        .main-nav > ul > li > a {
          color: #fff;
          display: block;
          padding: 4px  2px;
          text-decoration: none;
          font: 400 16px/17px "Roboto", sans-serif;
          text-transform: uppercase;
          letter-spacing: 0.1px; }
        .main-nav > ul > li:hover > a {
          color: #18d26e !important; }
        .main-nav > ul > li:hover > ul {
          visibility: visible;
          opacity: 1; }
        .main-nav > ul > li ul {
          position: absolute;
          margin: 0;
          padding: 0;
          background: #767676;
          width: 250px;
          visibility: hidden;
          opacity: 0;
          font-size: 14px;
          display: block !important; }
          .main-nav > ul > li ul li {
            display: block;
            border-bottom: 1px solid #535353;
            position: relative; }
            .main-nav > ul > li ul li:last-child {
              border: 0; }
            .main-nav > ul > li ul li a {
              padding: 8px 20px;
              display: block;
              text-decoration: none;
              font-size: 11px;
              color: #fff; }
            .main-nav > ul > li ul li:hover > ul {
              visibility: visible;
              opacity: 1;
              left: 250px;
              top: 0; }
            .main-nav > ul > li ul li:hover > a {
              background: #5d5d5d; }
            .main-nav > ul > li ul li.submenu::after {
              content: "";
              position: absolute;
              height: 0;
              width: 0;
              border-bottom: 3px solid transparent;
              border-left: 6px solid #fff;
              border-top: 3px solid transparent;
              right: 5px;
              top: 13px;
              pointer-events: none; }
  .mob-btn {
    display: none; }
  /*==== Menu End ====*/ }

@media only screen and (max-width: 1023px) {
  /*==== Menu ====*/
  .main-nav {
    position: fixed;
    width: 100%;
    left: 0;
    top: 60px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.35);
    background: #fff;
    height: 0;
    -webkit-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    transition: all ease 0.2s;
    z-index: 1005;
    /* box-shadow: inset 0 0 4px rgba(#000, 0.7); */
    overflow-y: auto;
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7); }
    .main-nav ul {
      margin: 0;
      margin-top: -222px;
      padding: 0;
      display: block;
      margin-top: 0px;
      padding-top: 0px; }
      .main-nav ul.mnav {
        margin-bottom: 30px; }
      .main-nav ul li {
        display: block;
        border-bottom: 1px solid #656b74;
        position: relative;
        text-transform: capitalize;
        font-size: 13px; }
        .main-nav ul li span {
          display: none; }
        .main-nav ul li a {
          color: #fff;
          text-decoration: none;
          font-size: 15px !important;
          display: block;
          padding: 10px 30px;
          padding-right: 0px !important; }
          .main-nav ul li a:hover {
            background: #14293c; }
        .main-nav ul li.submenu i {
          position: absolute;
          width: 43px;
          height: 39px;
          top: 0;
          right: 0;
          cursor: pointer;
          -webkit-transition: all ease 0.5s;
          -moz-transition: all ease 0.5s;
          -o-transition: all ease 0.5s;
          transition: all ease 0.5s; }
          .main-nav ul li.submenu i:after {
            content: "";
            height: 0;
            width: 0;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            border-top: 6px solid #b3b3b3;
            position: absolute;
            right: 17px;
            top: 18px;
            z-index: 10; }
      .main-nav ul ul {
        margin: 0;
        display: none; }
        .main-nav ul ul li:last-child {
          border-bottom: 0; }
        .main-nav ul ul li:first-child {
          border-top: 1px solid #656b74; }
        .main-nav ul ul li a {
          padding-left: 20px; }
        .main-nav ul ul li ul a {
          padding-left: 30px; }
  .show-menu .main-nav {
    top: 60px;
    height: auto;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  .show-menu .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001; }
  .mob-btn {
    position: absolute;
    float: right;
    padding: 5px 7px;
    margin: 0px;
    background-color: transparent;
    cursor: pointer;
    right: 15px;
    top: 18px;
    z-index: 9999; }
    .mob-btn span {
      display: block;
      width: 30px;
      height: 3px;
      border-radius: 1px;
      background: #fbfbfb;
      -webkit-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease; }
    .mob-btn span + span {
      margin-top: 5px; }
  /*==== Menu End ====*/
  /*=== Append and Prepend ===*/
  .extra-link {
    display: none; }
  /*==== Append and Prepend End ====*/ }

.show-menu .mob-btn span {
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease; }

.show-menu .mob-btn span:first-child {
  -webkit-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  transform: rotate(-40deg);
  margin-top: 5px; }

.show-menu .mob-btn span:nth-child(2) {
  display: none; }

.show-menu .mob-btn span:last-child {
  -webkit-transform: rotate;
  -ms-transform: rotate;
  transform: rotate;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  margin-top: -2px; }
